extends _layout
block content
  div.col-xs-12.col-md-6.col-md-offset-3
    h1 パスコード入力成功!!
    div.arrow_box
      p やったっ！　ダークハッカドール本体をサーバーからデリートしましたっ！
      p でも……。まだですっ、ダークハッカドールは死んでいませんっ！
      p 人間に乗り移ったダークハッカドールはまだ稼働中ですっ！ 
      p あいつをデリートするには、パスコードだけでは無理です……。
      p たったひとつだけ、あいつを完全にデリートする方法がありますっ！
      p #{agent} に、いま入力したパスコードを伝えてください。最後の暗号です。
      p この暗号を解いて、ダークハッカドールを完全にデリートしてくださいっ！
    img(src="/public/07_excellent.png")

