extends _layout
block content
  div.col-xs-12.col-md-6.col-md-offset-3
    h1 パスコード入力成功!?
    div.arrow_box
      p だ、ダメです、ギリギリで、パスコードをダークハッカドールに変えられてしまいましたっ！
      p ぐぬぬぬ、しかたありません……。
      p すぐに、新しいパスコードを調べますっ！
      p #{agent} さんに、いま入力したパスコードを伝えて、いまからわたしが送る暗号を受け取ってくださいっ！
    img(src="/public/04_sad_3.png")
