.full {
  background-size: cover;
  background-position:center center;
  background-repeat:no-repeat;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('http://denkinovel.com/assets/seashore-with-beach-hut-117b7ad3c552c9df8c8317e0912478c6.jpg');
}

.messages {
  height: 90%;
  min-width: 40%;
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  color: white;
}

#js-messages-nico {
  color: white;
  font-size: 2rem;
  text-shadow: black 1px 1px 3px;
  z-index: 2;
}

.person-upper {
  background-size: contain;
  background-position:center center;
  background-repeat:no-repeat;
  min-height: 100%;
  min-width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('01_nomal_1.png');
}

.person-lower {
  background-size: contain;
  background-position:center center;
  background-repeat:no-repeat;
  min-height: 100%;
  min-width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('01_nomal_1.png');
}

.person-message {
  min-height: 25%;
  width: 40%;
  position: fixed;
  bottom: 5%;
  left: 5%;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

p {
	font-size: 1.4rem;
}

.exclamation {
	position: fixed;
	top: 5%;
	left: 10%;
	font-size: 15rem;
	color: red;
	text-shadow: black 6px 6px 10px, black 6px -6px 10px, black -6px 6px 10px, black -6px -6px 10px;
	z-index: 1;
}
