.arrow_box {
    position: relative;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px ;
    margin-bottom: 50px;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 20px;
    margin-left: -20px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 24px;
    margin-left: -24px;
}

.js-sd-figure-upper {
    z-index: 2;
}

.sd-figures {
    margin-top: 50px;
}

.js-sd-exclamation {
    position: fixed;
    top: 10%;
    left: 40%;
    font-size: 15rem;
    opacity: 0;
    color: red;
    text-shadow: black 6px 6px 10px, black 6px -6px 10px, black -6px 6px 10px, black -6px -6px 10px;
}